@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add this custom style in your global CSS or Tailwind setup if you want finer control */
@layer utilities {
  .masonry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 10px;
    grid-auto-flow: dense;
  }
  .masonry > * {
    margin-bottom: 10px;
  }
}

/* body{
    background-color: #1C1C22;  
} */

.animate {
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

.overflow-hidden {
  overflow: hidden !important;
}

.work:nth-child(3) .icon-bg {
  background: linear-gradient(90deg, #393939 14.06%, #484848 100%);
}

.work:nth-child(2) .icon::before {
  border: 0;
}

.work:nth-child(3) .icon::before {
  border: 0;
}


.work:nth-child(2) .icon-bg {
  background: linear-gradient(90deg, #393939 14.06%, #484848 100%);
}
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
}

.background {
  border-radius: 16px;
  mix-blend-mode: luminosity;
  width: 58px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__icon {
  width: 32px;
  height: 26px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu__icon span {
  width: 100%;
  height: 0.150rem;
  border-radius: 0.75rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 .5px 2px 0 hsla(0, 0%, 0%, .2);
  transition: transform .4s, background-color .4s, opacity .4s;
}

.menu__icon:hover span:nth-child(1) {
  background-color: rgb(255, 255, 255);
  transform: translateY(11px) rotate(-45deg);
}

.menu__icon:hover span:nth-child(2) {
  transform: translate(-50%);
  opacity: 0;
}

.menu__icon:hover span:nth-child(3) {
  background-color: rgb(255, 255, 255);
  transform: translateY(-11px) rotate(45deg);
}

.activeClass {
  position: relative;
  display: flex;
  justify-content: center;
  background: linear-gradient(270deg, #FFB147 5.74%, #FF6C63 50.64%, #B86ADF 92.05%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.activeClass::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 30%;
  background: linear-gradient(270deg, #FFB147 5.74%, #FF6C63 50.64%, #B86ADF 92.05%);
  bottom: 0;
  border-radius: 5px;
}


.fredoka {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 98.5;
}

.fredokabold {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  font-variation-settings:
    "wdth" 98.5;
}
.fredokamedium {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: medium;
  font-variation-settings:
    "wdth" 98.5;
}
.fraunces{
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: bold;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}
.playfair{
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  font-variation-settings:
    "wdth" 100;
}
.rampart{
  font-family: "Rampart One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font24{
  font-size: 40px;
}
.font20{
  font-size: 16px;
}

header {
  right: 120px !important;
  left: 120px !important;
}
Hero{
  right: 120px !important;
  left: 120px !important; 
}
.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


@media (max-width: 768px) {
  header {
      margin: 0px 0px !important;
      left: 0% !important;
      right: 0% !important;
  }
}